<h1>Formulario de carga</h1>

<form action="/formulario" method="post">
    <label>Nombre del plato</label><input name="nombre" type="text">
    <label>Precio del plato</label><input name="precio" type="text">
    <label>Foto del plato</label><input name="foto" type="text">
    <input type="submit">
</form>
    <button><a href="http://localhost:8080/menu">Ir a productos</a></button>